.recharts-wrapper * {
  outline: none !important;
}

.black {
  color: black;
}

.block {
  display: block;
}

.bold {
  font-weight: bold;
}

.border{
  border-radius: 8px;
  border: 1px solid #D9D9D9;
}

.box {
  display: flex;
  flex-direction: column;
  min-height: 77.5vh;
  height: fit-content;
  width: 80%;
  padding: 2rem;
  position: relative;
  margin: 4rem auto 0 auto; 
  margin-top: 7rem;
  bottom: 2rem;
  contain: content;
}

.btn {
  width: 100px;
  height: 35px;
  text-align: center;
  border-radius: 8px;
  border: none;
  color: white;
}

.bt-transparent {
  border: none;
  background-color: transparent;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: #FCFCFC;
  margin: 0;
}

.center{
  margin: 0 auto;
}

.v-center {
  display: flex;
  height: 100vh;
  align-items: center;
}

.container {
  margin-left: 19.0625rem;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 19.0625rem);
}

form {
  margin: 0 auto;
  width: 70%;
}

.gray-btn {
  background-color: #938D8D;
}

.green-btn {
  background-color: #CDCB00;
}

.hidden {
  display: none;
}

.input {
  width: 16.5rem;
  height: 30px;
  padding: 0px 10px;
}

.lg {
  font-size: 1.5rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-4{
  margin-left: 4rem;
}

.ml-5 {
  margin-left: 5rem;
}

.ml-6{
  margin-left: 6rem;
}

.md {
  font-size: 1.25rem;
}

.mr-2{
  margin-right: 2rem;
}

.mr-5 {
  margin-right: 5px;
}

.mt {
  margin-top: 0.5rem;
}

.option-btn {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 1px solid #D9D9D9;
}

.option-btn:hover, .option-btn.selected {
  background-color: #D9D9D9;
}

.red-btn {
  background-color: #CD0000;  
}

.set-buttons{
  display: flex;
  justify-content: center;
}

.sm {
  font-size: 1rem;
}

.space-between {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.sub{
  color: #938D8D;
}

.transparent{
  border: none;
  padding: 0px;
  background-color: transparent;
}

.underline {
  text-decoration: underline;
}

.w-11 {
  width: 11rem;
}

.xs {
  font-size: 0.75rem;
}

.gap-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.red {
  color: red;
}

.italic {
  font-style: italic;
}




















/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

