.settings-box {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 2rem;
    position: relative;
    margin: 4rem auto 0 auto; 
    contain: content;
}

.delete {
    height: 15vh;
}

.settings {
    margin-top: 5rem;
    height: 27vh;
}

.settings-container {
    margin-left: 19.0625rem;
    display: flex;
    flex-direction: column;
    width: calc(100vw - 19.0625rem);
}