img {
    width: 30rem;
    height: auto;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;      
    height: 100vh;
    text-align: center;
}