.credit {
    background-color: #FFE3E3;
}

.debit {
    background-color: #E3E296;
}

.debit,
.credit {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
    border-radius: 30px;
    white-space: nowrap;
    width: fit-content;
    overflow: hidden;
    contain: content;
}

.divider{
    border-bottom: 1px solid #D9D9D9;
    padding: 10px 0px;
}

.heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.heading .green {
    border-color: #CDCB00;
    padding: 1px 20px;
    width: 130px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;

}

.pages {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 10px;
}

.rows {
    width: 15%;
    justify-content: center;
    display: flex;
}

table {
    width: 100%;
    table-layout: fixed;
    contain: content;
}

table tr td {
    width: 15%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

table tr th {
    width: 15%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.types-parent {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

.types-child {
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    margin-top: 3px;


    width: 140px;
    background-color: white;


    padding: 10px;
    padding-left: 20px;
    max-height: 6rem;
    z-index: 10;

    overflow-y: scroll;

    display: none;

}

.types-parent:hover .types-child {
    display: flex;
    flex-direction: column;
}

.types-child:hover .types-child {
    display: flex;
    flex-direction: column;
}

.page-btn {
    cursor: pointer;
    opacity: 1;
}

.page-btn.disabled {
    cursor: not-allowed;
    opacity: 0.1;
}
