.digits-parent {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

.digits-child {
    position: absolute;
    top: calc(100% - 2px);
    left: 85%;

    width: 85px;
    background-color: white;


    padding: 10px;
    max-height: 6rem;
    z-index: 10;

    overflow-y: scroll;

    display: none;

}

.digits-parent:hover .digits-child {
    display: flex;
    flex-direction: column;
}