.account-parent {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

.account-child {
    position: absolute;
    top: calc(100% - 2px);
    left: 10rem;

    width: auto;
    background-color: white;


    padding: 15px 15px;
    height: auto;
    z-index: 10;
    gap: 15px;
    overflow-y: scroll;

    display: none;

}

.account-parent:hover .account-child {
    display: flex;
    flex-direction: column;
}