.balances-box {
    display: flex;
    width: 80%;
    flex-direction: column;
    padding: 2rem;
    margin: 4rem auto 0rem auto;
    margin-top: 5rem;
    contain: content;
}

.balances-box .span{
    gap: 5rem;
}

.Home {
    display: flex;
    flex-direction: column;
}

.tracker{
    margin: 0;
    margin-left: 5rem;
    margin-right: 4rem;
}

.tracker .span{
    gap: 1rem;
}

.balance-span {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20rem;
    justify-content: space-between;
}

.rotate {
    transform: rotate(90deg);
  }

.sub-c {
    color: #C0BBBB;
}